.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }

  mat-sidenav-container {
    flex: 1 0 auto;
    margin-top: 64px;
  }

  mat-sidenav {
    width: 250px;
  }

  .title {
    text-transform: uppercase;
  }

  .filler {
    flex: 1 1 auto;
  }

  .not-authenticated {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .authenticated {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    mat-icon {
      font-size: 60px;
      border-radius: 999px;
      border: 4px solid #FFFFFF;
      width: auto;
      height: auto;
      padding: 5px;
    }

    mat-divider {
      width: 80%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}