<div class="header" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <h1 class="title">A note a day</h1>
    <div class="filler"></div>
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #snav mode="over" position="end" [(opened)]="sideNavOpen"
                  [fixedInViewport]="true" fixedTopGap="56">
      <mat-nav-list class="not-authenticated" *ngIf="!isLoggedIn()">
        <button mat-button (click)="openAuthDialog('login')">Log in</button>
        <button mat-button (click)="openAuthDialog('signup')">Sign up</button>
      </mat-nav-list>
      <mat-nav-list class="authenticated" *ngIf="isLoggedIn()" role="list">
        <mat-icon>person_outline</mat-icon>
        <mat-list-item role="listitem" [disableRipple]="true">Michal Jez</mat-list-item>
        <mat-divider color="primary"></mat-divider>
        <a mat-button [routerLink]="['/notes']">My Notes</a>
        <button mat-button (click)="logout()">Log Out</button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  </div>
  